body {
	font-family: 'Open Sans', 'Nunito Sans', sans-serif;
}

/* @media (min-width: 1600px) {
    .container{
        max-width: 1500px;
    }
} */


.blue-bg{
  background: #0a0a23;
}

.purple-bg{
  background: #410099;
}

.nav-top{
	font-weight: 600;
  font-size: 14px;
}

/* xs */
#logopic {
    width: 100px;
    height: auto;
}
/* sm */
@media (min-width: 768px) {
    #logopic {
        width: 150px;
    }
}
/* md */
@media (min-width: 992px) {
    #logopic {
        width: 200px;
    }
}
/* lg */
@media (min-width: 1200px) {
    #logopic {
        width: 250px;
    }
}

.purple-text{
  color: #410099 !important;
}

#landing-page{
  display: flex;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: -webkit-fill-available;
}

#landing-page .video-wrapper{
  height: 100%;
  overflow: hidden;
  position: absolute;
  right: 0;
  width: 100%;
  -webkit-transition: none !important;
  transition: none !important;
}

#landing-page .video-wrapper video{
  bottom: 0;
  left: 50%;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#landing-page .videoOverlayContainer{
  background-color: #400093;
  height: 100%;
  left: 0;
  opacity: .75;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 5;
}

#landing-page #video-overlay{
  color: #FFFFFF;
  margin: 80px auto 50px auto;
  max-width: 730px;
  position: relative;
  text-align: center;
  z-index: 10;
}

.icon-size{
  font-size: 100px;
}

.bg-container-1 {
  margin-left: 0;
  margin-top:0.25%;
}
.bg-container-2 {
  margin-left: 0;
  margin-top:0.25%;
}

#black-lives-matter {
  margin-top: 0.25%;
  margin-bottom: 0.25%;
}

#season-section {
  margin-top: 5%;
  margin-bottom: 5%
}


footer{
  background: #410099;
  color: #ffffff;
  padding: 50px 0;
  font-size: 14px;
  border-top: solid 3px white;
}

footer .row .col-md-6 span {
  font-size: 25px;
  padding-left:25px;
}


